@font-face {
    font-family: 'Benzin';
    src: local('Benzin Regular'), local('Benzin-Regular'),
    url('../assets/fonts/Benzin-Regular.woff2') format('woff2'),
    url('../assets/fonts/Benzin-Regular.woff') format('woff'),
    url('../assets/fonts/Benzin-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cabinet Grotesk Light';
    font-style: normal;
    font-weight: normal;
    src: local('Cabinet Grotesk Light'), url('../assets/fonts/CabinetGrotesk-Light.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cabinet Grotesk Light', sans-serif;
    letter-spacing: 0;
    color: #FFFFFF;
}

main {
    min-height: 100vh;
    background-image: url('../assets/images/join/join-bg.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    margin: auto;
}
main .content {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 60vw;
    max-width: 840px;
    margin: auto;
    border: 1px solid rgb(237 237 237 / 6%);
    background: linear-gradient(180deg, rgb(174 174 174 / 6%) -30.64%, rgb(174 174 174 / 0%) 97.99%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(15px);
    padding: 48px;
    gap: 25px;
}
main .content .title {
    text-align: center;
    font-size: 48px;
    font-family: 'Benzin', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 105%;
    background: linear-gradient(98deg, #FFF -0.63%, #FCFFCC 26.36%, #FFF 51.29%, #DFE3A8 71.34%, #FFF 103.3%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main .content .text {
    text-align: center;
    font-family: 'Cabinet Grotesk Light', sans-serif;
    font-size: 24px;
    padding: 0 10px;
}
main .content .clue {
    display: flex;
    flex-direction: column;
    padding: 0 60px;
}
main .content .clue > div {
    border: 1px solid #494B42;
    padding: 14px 30px;
}
main .clue .clue-title {
    text-align: center;
    font-size: 20px;
    font-family: 'Benzin', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 105%;
    color: #FCFFCC;
    border: 1px solid #494B42;
    background: linear-gradient(180deg, rgba(252, 255, 204, 0.23) -30.64%, rgba(252, 255, 204, 0.04) 97.99%);
}
main .clue .clue-text {
    text-align: center;
    font-family: 'Cabinet Grotesk Light', sans-serif;
    font-size: 20px;
    color: #B5B5B6;
}

main .content .whatsapp-btn {
    margin:0 60px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #FFFFFF;
}
main .content .whatsapp-btn div:last-child {
    color: #0E1817;
    font-family: 'Benzin', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: uppercase;
}
main .content .whatsapp-btn div:first-child {
    width: 42px;
    height: 42px;
    background: url('../assets/images/index/offer-btn-bg.webp');
    background-size: cover;
    background-position: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .content .whatsapp-btn div:first-child img {
    width: 32px;
    height: 32px;
}
.loader {
    /* color of choise */
    --clr: #05A8AA;
    /* loading time of choice */
    --load-time: 2s;
    outline: 1px solid rgb(220, 162, 162);
    outline-offset: 5px;
    position: relative;
    overflow: hidden;
    border-radius: 5rem;
    margin: auto;
    padding: 4px 0;
    width: 70%;
}

.loader.loaded::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(98deg, #FFF -0.63%, #FCFFCC 26.36%, #FFF 51.29%, #DFE3A8 71.34%, #FFF 103.3%);;
    z-index: 2;
    animation: loading var(--load-time) ease-in-out forwards;
}

@keyframes loading {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1439px) {
    main .content {
        width: 75vw;
    }
    main .content .title {
        font-size: 42px;
    }
    main .content .text {
        font-size: 20px;
    }
    main .clue .clue-title,
    main .clue .clue-text {
        font-size: 18px;
    }
}
@media only screen and (min-width: 840px) and (max-width: 1099px) {
    main .content {
        width: 85vw;
    }
    main .content .title {
        font-size: 36px;
    }
    main .content .text {
        font-size: 18px;
    }
    main .clue .clue-title,
    main .clue .clue-text {
        font-size: 16px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 839px) {
    main .content {
        width: 90vw;
    }
    main .content .title {
        font-size: 34px;
    }
    main .content .text {
        font-size: 16px;
    }
    main .clue .clue-title,
    main .clue .clue-text {
        font-size: 14px;
    }
    main .content .clue {
        padding: 0 30px;
    }
    main .content .whatsapp-btn {
        margin: 0 30px;
    }
}
@media only screen and (max-width: 599px) {
    main {
        height: auto;
        min-height: 100vh;
        padding: 25px 0;
        background-image: url('../assets/images/join/join-bg.webp');
        background-repeat: no-repeat;
        background-size: 200% 150%;
        background-position: center;
    }
    main .content {
        width: 95vw;
        padding: 25px 10px;
    }
    main .content .title {
        font-size: 30px;
    }
    main .content .title br {
        display: none;
    }
    main .content .text {
        font-size: 16px;
    }
    main .clue .clue-title,
    main .clue .clue-text {
        font-size: 14px;
    }
    main .content .clue {
        padding: 0;
    }
    main .content .whatsapp-btn {
        margin: 0;
    }
    .loader {
        padding: 3px 0;
        width: 80%;
    }
}
@media only screen and (max-width: 420px) {
    .loader {
        padding: 3px 0;
        width: 90%;
    }
}
@media only screen and (max-width: 380px) {
    main .content .title {
        font-size: 28px;
    }
}

